@page "/ProductPages/productList"

<h1>Product List</h1>
<a class="btn btn-success" href="ProductPages/Add">Create New</a>
@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Type</td>
                    <td>
                        <a href="ProductPages/Edit/@product.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<Product> products = null;
    ProductGateway productGateway = new ProductGateway();
    protected override void OnInitialized()
    {
        products = productGateway.GetAll();
    }
}
